<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーが発生しました。</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <h2 class="text-center pt-5">作品投稿</h2>
  <div class="d-flex mt-3">
    <% (0..3).each do |index| %>
      <div class="image-preview" data-index="<%= index %>">
        <img id="preview_<%= index %>" style: "object-fit: cover;" class="h-100">
      </div>
    <% end %>
  </div>
  <div class="upload-box card" id="uploadBox">
    <div class="card-body">
      <div class="card-text ">
        <p class="text-center">
          最大４枚までアップロード可能です。
        </p>
      </div>
    </div>
  </div>
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <% (0..3).each do |index| %>
      <%= f.fields_for :post_images, index: index do |pi| %>
        <div>
          <%= pi.label "作品画像#{index + 1}", for: "image_#{index}" %>
        </div>
        <%= pi.file_field :image, class: "img_field d-none", id: "image_#{index}", data: { index: index } %>
      <% end %>
    <% end %>
      <table class="table table-light mt-5">
        <tr>
          <th>作品名</th>
          <td><%= f.text_field :title, class: "form-control", placeholder: "作品名のここに記入して下さい" %></td>
        </tr>
        <tr>
          <th>作品紹介</th>
          <td><%= f.text_area :introduction, class: "form-control", id: "textarea", placeholder: "作品の紹介文をここに記入して下さい" %></td>
        </tr>
        <tr>
          <th>タグ</th>
          <td><%= f.text_field :tag, class: "form-control", placeholder: "全角スペースを入れると複数タグ付け可能　例：星　惑星　銀河", value: @tag_list.join('　') %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= f.select :genre_id, options_for_select(Genre.all.map { |genre| [genre.name, genre.id] }), {}, class: "form-control" %></td>
        </tr>
      </table>
    <div class="col-md-2 mx-auto mt-3">
      <%= f.submit "投稿する", class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var uploadBox = document.querySelector("#uploadBox");
    uploadBox.addEventListener("click", function(event) {
      var target = event.target;
      if (
        target === uploadBox ||
        target.classList.contains("upload-box") ||
        target.tagName === "LABEL" ||
        target.parentNode.tagName === "LABEL"
      ) {
        console.log("Upload box clicked!");
        var htmlFor = null;
        if (target.tagName === "LABEL") {
          htmlFor = target.getAttribute("for");
        } else if (target.parentNode.tagName === "LABEL") {
          htmlFor = target.parentNode.getAttribute("for");
        }
        if (htmlFor) {
          var index = htmlFor.split("_")[1];
          var fileInput = document.getElementById("image_" + index);
          if (fileInput) {
            fileInput.click();
            fileInput.addEventListener("change", function(event) {
              // 選択されたファイルの処理を実行する（例: プレビューの表示など）
              // event.target.filesに選択されたファイルが格納されています
            });
          }
        }
      }
    });
  });
</script>