<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーが発生しました。</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <h2 class="text-center pt-5">作品投稿</h2>
  <div class="mt-3">
    <% if @post.image.present? %>
      <%= attachment_image_tag @post, :image, class: "img_prev col-md-10 offset-md-1 col-lg-8 offset-lg-2", onClick: "$('.img_field').click()" %>
    <% else %>
      <%= image_tag ("no_photo_image.png"), class: "img_prev col-md-10 offset-md-1 col-lg-8 offset-lg-2", onClick: "$('.img_field').click()" %>
    <% end %>
  </div>
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <table class="table table-light mt-5">
      <tr>
        <th>画像選択</th>
        <td><%= f.file_field :image, class: "img_field d-none" %>画像をクリックして下さい</td>
      </tr>
      <tr>
        <th>作品名</th>
        <td><%= f.text_field :title, class: "form-control", placeholder: "作品名のここに記入して下さい" %></td>
      </tr>
      <tr>
        <th>作品紹介</th>
        <td><%= f.text_area :introduction, class: "form-control", id: "textarea", placeholder: "作品の紹介文をここに記入して下さい" %></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td><%= f.text_field :tag, class: "form-control", placeholder: "全角スペースを入れると複数タグ付け可能　例：星　惑星　銀河" %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= f.select :genre_id, options_for_select(Genre.all.map { |genre| [genre.name, genre.id] }), {}, class: "form-control" %></td>
      </tr>
    </table>
    <div class="col-md-2 mx-auto mt-3">
      <%= f.submit "投稿する", class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>