<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <h2 class="text-center pt-5">作品投稿</h2>
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <table class="table table-light mt-5">
      <tr>
        <th>画像選択</th>
        <td><%= f.file_field :image %></td>
      </tr>
      <tr>
        <th>作品名</th>
        <td><%= f.text_field :title, class: "form-control" %></td>
      </tr>
      <tr>
        <th>作品紹介</th>
        <td><%= f.text_area :introduction, class: "form-control" %></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td><%= f.text_field :tag, class: "form-control" %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= f.select :genre_id, options_for_select(Genre.all.map { |genre| [genre.name, genre.id] }), {}, class: "form-control" %></td>
      </tr>
    </table>
    <div class="col-1 mx-auto mt-5">
      <%= f.submit "投稿する", class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>