<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %>件のエラーが発生しました。</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <h2 class="text-center pt-5">作品投稿</h2>
  <div class="d-md-flex mt-3">
    <% (0..3).each do |index| %>
      <div class="image-preview" data-index="<%= index %>">
        <img id="preview_<%= index %>" style: "object-fit: cover;" class="h-100 w-100">
      </div>
    <% end %>
  </div>
  <%= form_with model: @post, url: posts_path, local: true do |f| %>
    <div class="card bg-light">
      <div class="card-body">
        <p class="card-text text-center">
          ※最大4枚までアップロード可能です。<br>
          下のボタンから画像をお選び下さい。
        </p>
      </div>
      <div class="d-md-flex">
        <% (0..3).each do |index| %>
          <%= f.fields_for :post_images, @post.post_images.build do |pi| %>
            <%= pi.label "作品#{index + 1}", for: "image_#{index}", class: "label btn btn-dark btn-block" %>
            <%= pi.file_field :image, class: "img_field d-none", id: "image_#{index}", data: { index: index } %>
          <% end %>
        <% end %>
      </div>
    </div>
      <table class="table table-light mt-5">
        <tr>
          <th>作品名</th>
          <td><%= f.text_field :title, class: "form-control", placeholder: "作品名のここに記入して下さい" %></td>
        </tr>
        <tr>
          <th>作品紹介</th>
          <td><%= f.text_area :introduction, class: "form-control", id: "textarea", placeholder: "作品の紹介文をここに記入して下さい" %></td>
        </tr>
        <tr>
          <th>タグ</th>
          <td><%= f.text_field :tag, class: "form-control", placeholder: "全角スペースを入れると複数タグ付け可能　例：星　惑星　銀河", value: @tag_list.join('　') %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= f.select :genre_id, options_for_select(Genre.all.map { |genre| [genre.name, genre.id] }), {}, class: "form-control" %></td>
        </tr>
      </table>
    <div class="col-md-2 mx-auto mt-3">
      <%= f.submit "投稿する", class: "btn btn-success btn-block" %>
    </div>
  <% end %>
</div>
