<h1 class="text-center mt-5"><%= @tag.name %>の投稿一覧</h1>
<div class="container text-center">
  <h5>タグリスト</h5>
    <%= form_with url: search_tag_path, method: :get do |f| %>
    <!--tag_idがnil:NilClassになっているのでf.object ||= OpenStruct.newの行を追加してフォームオブジェクトが存在しない場合にダミーオブジェクトを作成-->
      <% f.object ||= OpenStruct.new %>
      <%= f.select :tag_id, options_from_collection_for_select(@tag_list, :id, :name, f.object.tag_id), { prompt: "選択してください" }, class: 'select-box' %>
      <%= f.submit "検索", type: "submit", class: "btn btn-primary" %>
    <% end %>
</div>
<div class="d-flex flex-wrap my-2">
  <% @posts.each do |post| %>
    <div class="col-3 mt-5">
      <div class="card">
        <%= attachment_image_tag post, :image, size: "300x280", class: "card-img-top" %>
        <span class="card-body text-center">
            <span class="mr-1">
              <%= link_to post_path(post) do %>
                <%= post.user.name %>
              <% end %>
            </span>
          <span id="favorite_buttons_<%= post.id %>">
            <%= render "public/favorites/favorite", post: post %>
          </span>
        </span>
      </div>
    </div>
  <% end %>
</div>