<h1 class="text-center mt-5"><%= @tag.name %>の投稿一覧</h1>
<div class="container text-center">
  <h5>タグリスト</h5>
    <%= form_with url: search_tag_path, method: :get do |f| %>
    <!--tag_idがnil:NilClassになっているのでf.object ||= OpenStruct.newの行を追加してフォームオブジェクトが存在しない場合にダミーオブジェクトを作成-->
      <% f.object ||= OpenStruct.new %>
      <%= f.select :tag_id, options_from_collection_for_select(@tag_list, :id, :name, f.object.tag_id), { prompt: "選択してください" }, class: 'select-box' %>
      <%= f.submit "検索", type: "submit", class: "btn btn-primary" %>
    <% end %>
</div>
<%= render "public/posts/index", posts: @posts %>