<div class="container">
  <div class="mt-5">
    <h1 class="text-center"><%= @post.user.name %>さん</h1>
    <%= attachment_image_tag @post, :image, size: "800x500", class: "col-8 offset-2" %>
    <table class="table">
      <tr>
        <td></td>
        <td id="favorite_buttons_<%= @post.id %>">
          <%= render "public/favorites/favorite", post: @post %>
        </td>
        <td><i class="far fa-comment"></i><%= @post.comments.count %></td>
        <td>
          <% if current_user && current_user.id == @post.user.id %>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-success mr-2" %>
            <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>作品名</th>
        <td><%= @post.title %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></i>紹介文</th>
        <td><%= @post.introduction %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></i>タグ</th>
          <td>
            <% @post.tags.each do |tag| %>
              <i class="fas fa-tag mr-1"></i><%= tag.name %>
            <% end %>
          </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @post.genre.name %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div id="comment_area">
      <%= render "public/comments/comment", post: @post, comment: @comment %>
    </div>
  </div>
</div>