<div class="container">
  <div class="mt-5">
    <div class="d-flex align-items-center justify-content-center">
      <% if @user.image.present? %>
        <%= attachment_image_tag @user, :image, class: "rounded-circle m-3 border", size: "100x100" %>
      <% else %>
        <%= image_tag ("no_image.jpg"), class: "rounded-circle m-3 border", size: "100x100" %>
      <% end %>
      <h2 class="text-center"><%= @post.user.name %>さん</h2>
    </div>
    <div class="card bg-light mt-3">
      <div class="card-body">
        <% @post.post_images.each do |image| %>
          <%= attachment_image_tag image, :image, class: "post_image col-lg-8 offset-lg-2 col-md-10 offset-md-1" %>
        <% end %>
        <div class="text-center mt-3">
          <div class="d-lg-inline">
            <span id="favorite_buttons_<%= @post.id %>" class="col-sm-6">
              <%= render "public/favorites/favorite", post: @post %>
            </span>
            <span class="col-sm-6">
              <i class="far fa-comment ml-3"></i><%= @post.comments.count %>
            </span>
          </div>
          <% if current_user && current_user.id == @post.user.id %>
            <%= link_to new_post_path, class: "btn btn-success ml-lg-3 mb-1 col-8 mx-auto col-lg-2" do %>
              <i class="fas fa-plus-circle mr-1"></i>投稿
            <% end %>
            <%= link_to edit_post_path(@post), class: "btn btn-success ml-lg-3 mb-1 col-8 mx-auto col-lg-2" do %>
              <i class="fas fa-edit mr-1"></i>編集
            <% end %>
            <button type="button" class="btn btn-danger ml-lg-3 mb-1 col-8 mx-auto col-lg-2" data-toggle="modal" data-target="#deleteModal">
              <i class="fas fa-trash-alt mr-1"></i>削除
            </button>
          <% end %>
          <% if admin_signed_in? %>
            <button type="button" class="btn btn-danger ml-lg-3 mb-1 col-8 mx-auto col-lg-2" data-toggle="modal" data-target="#deleteModal">
              <i class="fas fa-trash-alt mr-1"></i>削除
            </button>
          <% end %>
          <button type="button" class="btn btn-primary ml-lg-3 mb-1 col-8 mx-auto col-lg-2" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-qrcode mr-1"></i>QRコード
          </button>
        </div>
      </div>
    </div>
    <table class="table table-light mt-5">
      <tr>
        <th>作品名</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th></i>紹介文</th>
        <td><%= @post.introduction %></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td>
          <% @post.tags.each do |tag| %>
            <%= link_to search_tag_path(tag_id: tag.id) do %>
              <i class="fas fa-tag mr-1"></i><%= tag.name %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @post.genre.name %></td>
      </tr>
    </table>
    <div id="comment_area">
      <%= render "public/comments/comment", post: @post, comment: @comment %>
    </div>
  </div>
</div>
<%= render "layouts/modal/qrcode", post: @post %>
<%= render "layouts/modal/delete", post: @post %>