<div class="container">
  <div class="mt-5">
    <div class="d-flex align-items-center justify-content-center">
      <% if @user.image.present? %>
        <%= attachment_image_tag @user, :image, class: "rounded-circle m-3 border", size: "100x100" %>
      <% else %>
        <%= image_tag ("no_image.jpg"), class: "rounded-circle m-3 border", size: "100x100" %>
      <% end %>
      <h1 class="text-center"><%= @post.user.name %>さん</h1>
    </div>
    <div class="card bg-light mt-3">
      <div class="card-body">
        <%= attachment_image_tag @post, :image, class: "col-8 offset-2" %>
        <div class="text-center mt-3">
          <span id="favorite_buttons_<%= @post.id %>">
            <%= render "public/favorites/favorite", post: @post %>
          </span>
          <i class="far fa-comment ml-3"></i><%= @post.comments.count %>
          <% if current_user && current_user.id == @post.user.id %>
            <%= link_to new_post_path, class: "btn btn-success ml-3" do %>
              <i class="fas fa-plus-circle mr-1"></i>投稿
            <% end %>
            <%= link_to edit_post_path(@post), class: "btn btn-success ml-3" do %>
              <i class="fas fa-edit mr-1"></i>編集
            <% end %>
            <%= link_to post_path(@post), method: :delete, class: "btn btn-danger ml-3" do %>
              <i class="fas fa-trash-alt mr-1"></i>削除
            <% end %>
          <% end %>
          <%= link_to post_qrcode_path(@post), class: "btn btn-info ml-3" do %>
            <i class="fas fa-qrcode mr-1"></i>QRコードを表示
          <% end %>
        </div>
      </div>
    </div>
    <table class="table table-light mt-5">
      <tr>
        <th>作品名</th>
        <td><%= @post.title %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></i>紹介文</th>
        <td><%= @post.introduction %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td>
          <% @post.tags.each do |tag| %>
            <%= link_to search_tag_path(tag_id: tag.id) do %>
              <i class="fas fa-tag mr-1"></i><%= tag.name %>
            <% end %>
          <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @post.genre.name %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div id="comment_area">
      <%= render "public/comments/comment", post: @post, comment: @comment %>
    </div>
  </div>
</div>