<div class="container">
  <div class="mt-5">
    <h1 class="text-center"><%= @post.user.name %>さん</h1>
    <div class="card">
      <div class="card-body">
        <%= attachment_image_tag @post, :image, size: "800x500", class: "col-8 offset-2" %>
        <div class="text-center mt-3">
          <span id="favorite_buttons_<%= @post.id %>">
            <%= render "public/favorites/favorite", post: @post %>
          </span>
          <i class="far fa-comment ml-3"></i><%= @post.comments.count %>
          <% if current_user && current_user.id == @post.user.id %>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-success ml-3" %>
            <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-danger ml-3" %>
          <% end %>
          <%= link_to "QRコードを表示", post_qrcode_path(@post), class: "btn btn-success ml-3" %>
        </div>
      </div>
    </div>
    <table class="table mt-5">
      <tr>
        <th>作品名</th>
        <td><%= @post.title %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th></i>紹介文</th>
        <td><%= @post.introduction %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>タグ</th>
        <td>
          <% @post.tags.each do |tag| %>
            <%= link_to search_tag_path(tag_id: tag.id) do %>
              <i class="fas fa-tag mr-1"></i><%= tag.name %>
            <% end %>
          <% end %>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= @post.genre.name %></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div id="comment_area">
      <%= render "public/comments/comment", post: @post, comment: @comment %>
    </div>
  </div>
</div>