<div>
  <div>
    <%= form_with(model: [post, comment], local: false) do |f| %>
      <div class="input-group">
        <%= f.text_area :comment, placeholder: "コメントをここに", class: " form-control", id: "textarea", rows: 1 %>
        <span>
          <%= f.submit "送信する", class: "input-group-text" %>
        </span>
      </div>
    <% end %>
  </div>
  <div>
    <% post.comments.each do |comment| %>
      <div class="bg-light">
        <%= attachment_image_tag comment.user, :image, class: "rounded-circle m-3 border", size: "50x50" %>
        <%= comment.user.name %>
        <%= comment.created_at.to_s(:date_jp) %>
        <%= comment.comment %>
        <% if user_signed_in? && comment.user_id == current_user.id %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
        <% end %>
        <% if admin_signed_in? %>
          <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>