<div class="container">
  <h2>編集画面</h2>
  <div>
    <%= form_with model: @user, url: user_information_path, local: true do |f| %>
      <table class="table">
        <tr>
          <th><%= f.label "名前" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label "プロフィール" %></th>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label "アイコン" %></th>
          <td><%= f.file_field :image %></td>
        </tr>
      </table>
      <p class="text-center"><%= attachment_image_tag @user, :image, class: "rounded-circle m-3 border", size: "300x300" %></p>
      <%= f.submit "更新", class: "btn btn-success d-flex justifly-content-center" %>
    <% end %>
  </div>
</div>
