<div class="container">
  <div class="card bg-light mt-5">
    <div class="card-body">
      <div class="card-title text-center">
        <% if @user.image.present? %>
          <%= attachment_image_tag @user, :image, class: "rounded-circle m-3 border", size: "100x100" %>
        <% else %>
          <%= image_tag ("no_image.jpg"), class: "rounded-circle m-3 border", size: "100x100" %>
        <% end %>
        <h3><%= current_user.name %></h3>
      </div>
      <p class="card-text text-center">自己紹介</p>
      <p class="card-text text-center"><%= current_user.introduction %></p>
    </div>
    <table class="table table-dark">
      <thead>
        <tr>
          <% if @user.name != "ゲストログイン" %>
            <% if current_user.id == @user.id %>
              <td class="btn btn-outline-dark col-3">
                <%= link_to new_post_path, class: "text-light" do %>
                  <i class="fas fa-plus-circle mr-2"></i>投稿
                <% end %>
              </td>
              <td class="btn btn-outline-dark col-3">
                <%= link_to edit_user_information_path(current_user), class: "text-light" do %>
                  <i class="fas fa-edit mr-2"></i>編集
                <% end %>
              </td>
              <td class="btn btn-outline-dark col-3">
                <%= link_to user_withdraw_path(current_user), class: "text-light" do %>
                  <i class="fas fa-times-circle mr-2"></i>退会
                <% end %>
              </td>
              <td class="btn btn-outline-dark col-3">
                <%=link_to favorites_user_path(@user), class: "text-light" do %>
                  <i class="fas fa-clipboard-list mr-2"></i>いいね一覧
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>
</div>
<%= render "public/information/index", user: @user %>
