<% if @genre.errors.any? %>
  <div id="error_explanation">
    <h2><%= @genre.errors.count %>件のエラーが発生しました。</h2>
    <ul>
      <% @genre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="container">
  <h1 class="text-center mt-5">ジャンル編集</h1>
  <%= form_with model: @genre, url: admin_genre_path, method: :patch, local: true do |f| %>
    <table class="table table-light table-bordered mt-5">
      <tr class="text-center">
        <th><%= @genre.name %></th>
        <td><%= f.text_field :name, class: "form-control" %></td>
        <td><%= f.submit "更新", class: "btn btn-outline-success btn-block" %></td>
      </tr>
    </table>
  <% end %>
</div>
