<div class="container">
  <h2 class="text-center mt-5">ログイン</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= flash[:alert] %>
    </div>
    <table class="table table-light table-bordered mt-3">
      <tr>
        <th><%= f.label :email, "メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "xxxx@expmle.com" %></td>
      </tr>
      <tr>
        <th><%= f.label :password, "パスワード" %></th>
        <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "登録したパスワードを入力して下さい" %></td>
      </tr>
    </table>
    <table class="table table-light table-bordered">
      <tr>
        <th><%= f.submit "ログイン", class: "btn btn-primary btn-block" %></th>
      </tr>
      <tr>
        <th><%= render "public/shared/links" %></th>
      </tr>
      <tr>
        <th>
          <p class="text-center text-secondary mb-1">お試しで閲覧したい方</p>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-block" %>
        </th>
      </tr>
    </table>
  <% end %>
</div>