<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <%= link_to root_path do %>
        <%=image_tag "photure_log.png", size: "100x100" %>
      <% end %>
      <% if user_signed_in? %>
        <div class="text-light">
          ようこそ<%= current_user.name %>さん！
        </div>
      <% elsif admin_signed_in? %>
        <div class="text-light">
          管理人がログインしています
        </div>
      <% else %>
        <div class="text-light">
          新規登録またはログインして下さい
        </div>
      <% end %>
      <div class="d-flex flex-column">
        <ul class="navbar-nav d-flex justify-content-evenly">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", user_information_path(current_user), class: "btn btn-outline-secondary text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary text-light" %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-secondary text-light" %>
            </li>
            <li>
              <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-secondary text-light" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary text-light" %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary text-light" %>
            </li>
            <li>
              <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary text-light" %>
            </li>
            <li>
              <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary text-light" %>
            </li>
          <% end %>
        </ul>
        <div class="d-flex justify-content-end">
          <%= render "public/searches/search" %>
        </div>
      </div>
    </div>
  </nav>
</header>